<header class="pt-4 max-w-screen-xl mx-auto px-2 flex items-center justify-between">
  <h1 class="text-xl font-bold mt-2">{{userInfo.fullname}}</h1>
  <app-datetime></app-datetime>
</header>
<main class="pt-2 max-w-screen-xl mx-auto px-2 mb-6">
      <div class="w-full pt-2 flex items-center gap-2 flex-wrap px-2 mb-6">
          <p-chip [label]="skutotal" icon="pi pi-objects-column" class="border border-solid border-gray-300" styleClass="custom-chip" />
          <p-chip [label]="storeitemtotal" icon="pi pi-list-check" class="border border-solid border-gray-300" styleClass="custom-chip" />
          <p-chip [label]="whitemtotal" icon="pi pi-list" class="border border-solid border-gray-300" styleClass="custom-chip" />
          <p-chip [label]="invoicetotalStr" icon="pi pi-receipt" class="border border-solid border-gray-300" styleClass="custom-chip" />
      </div>
    <div class="w-full flex bg-white py-3 px-5 rounded shadow mb-3">
      <h3 class="text-xl text-gray-400 font-medium p-0 m-0">To do : </h3> &nbsp;
      <p *ngIf="invoicetotal < 1"  class="text-xl text-gray-700 p-0 m-0">0 Invoices need to proceed</p>
      <a *ngIf="invoicetotal > 0" href="http://www.google.com" class="text-xl text-gray-700 p-0 m-0">10 Invoices need to proceed</a>
    </div>
    <div class="w-full bg-white py-3 px-5 rounded shadow mb-3">
      <h3 class="text-xl font-medium  p-0 m-0 mb-4">Store Performance</h3>
    </div>
</main>
 <p-datepicker [(ngModel)]="date" [showIcon]="true"> </p-datepicker>
