<header class="pt-4 max-w-screen-xl mx-auto px-2 flex items-start justify-between">
  <h1 class="text-lg font-bold m-0 p-0">{{userInfo.fullname}} ({{userInfo.groupname}})</h1>
  <app-datetime></app-datetime>
</header>
<main class="pt-2 max-w-screen-xl mx-auto px-2 mb-6">
  <div class="w-full pt-2 flex items-center gap-2 flex-wrap px-2 mb-6">
    <p-chip [label]="invoicetotalStr" icon="pi pi-receipt" class="border border-solid border-gray-300"
      styleClass="custom-chip" />
      <button pButton type="button"  class="w-full" label="Generate Shopee Invoice"></button>
  </div>
  <div class="space-y-2">
  <div
    *ngFor="let order of orders"
    class="bg-white shadow-md rounded-xl border border-gray-200 overflow-hidden"
  >
    <!-- Header -->
    <div class="flex justify-between items-start p-4 bg-gray-50 border-b border-gray-200">
      <div>
        <p class="text-sm text-gray-500 p-0 m-0">Order No:</p>
        <h2 class="text-lg font-bold text-gray-800 p-0 m-0">{{ order.order_sn }}</h2>
      </div>
      <div class="text-right">
        <p class="text-sm text-gray-500 p-0 m-0">Ship Carrier:</p>
        <h2 class="text-md font-semibold text-blue-600 p-0 m-0">{{ order.shipping_carrier }}</h2>
      </div>
    </div>

    <!-- Items List -->
    <div class="p-4">
      <div
        *ngFor="let item of order.items; let i = index"
        class="flex justify-between border-b last:border-b-0 py-2"
      >
        <div>
          <p class="text-md font-medium text-gray-800 p-0 m-0">{{ item.item_name }}, {{ item.model_name }}</p>
        </div>
        <div class="text-right">
          <p class="text-xl font-bold text-gray-800 p-0 m-0">{{ item.model_quantity_purchased }}</p>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="flex justify-between items-center p-4 bg-gray-50 border-t border-gray-200">
      <div>
        <p class="text-xs text-gray-500 p-0 m-0">Ship By:</p>
        <p class="text-sm font-semibold text-gray-700 p-0 m-0">{{ order.ship_by_date }}</p>
      </div>
      <div class="text-right">
        <p class="text-xs text-gray-500 p-0 m-0">Total Amount</p>
        <p class="text-xl font-bold text-green-600 p-0 m-0">
          IDR {{ order.total_amount | number : "1.0-0" }}
        </p>
      </div>
    </div>
  </div>
</div>

</main>
