/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  @apply m-0 p-0 h-full;
}
:root {
    --p-primary-color: #f97316!important;          /* base */
    --p-primary-color-text: #fff!important;        /* text on primary */
    --p-primary-100: #fff7ed!important;
    --p-primary-200: #ffedd5!important;
    --p-primary-300: #fdba74!important;
    --p-primary-400: #fb923c!important;
    --p-primary-500: #f97316!important;
    --p-primary-600: #ea580c!important;
    --p-primary-700: #c2410c!important;
    --p-primary-800: #9a3412!important;
    --p-primary-900: #7c2d12!important;
    --p-inputgroup-addon-padding:0.1rem!important;
    --p-form-field-border-radius: var(--p-border-radius-sm)!important;
    --p-menubar-border-color:transparent!important;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Inter,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #3f5067!important;
  }
.custom-chip .p-chip-label {
  color: #a6a7a8; /* warna biru */
}
.custom-chip .p-chip-icon {
  color: #a6a7a8;
}
.p-datatable-sort-icon {
  padding-left: 2px!important;
}
.p-panelmenu {
    gap: 0.1rem!important;
}
